.d-user-title {
  font-size: 20px;
  margin: 30px;
}

.d-admin-view {
	font-size: 25px;
	margin: 20px;
}

.d-user-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px;
}

.d-admin-td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.d-user-row:nth-child(even) {
    background-color: #dddddd;
}

.d-add-user-button {
    margin-left: 20px;
    font-size: 20px;
}

.d-new-user-field {
    display: inline-block;
    margin-right: 20px;
}

.d-new-user-area {
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 15px;
}

.d-submit-button {
    border: 1px solid;
    font-size: 16px;
    min-width: 80px;
    margin-left:40px;
}